## Python Crash Course
### Data type
Numbers

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [7]:
1/2

0.5

In [9]:
2**4

16

In [10]:
2 + 3 * 5 +8

25

In [11]:
(2 + 3)* (5 + 8)

65

In [13]:
4 % 2 # mod

0

In [14]:
5 % 2

1

In [15]:
8 % 2

0

In [17]:
var = 2
x = 2
y = 2

In [18]:
x + y

4

## Strings

In [20]:
'Hello'

'Hello'

In [21]:
"This is string"

'This is string'

In [22]:
"I can't go"

"I can't go"

In [23]:
x = 'hello'
x

'hello'

In [24]:
print(x)

hello

In [28]:
num = 12; name ='sam'

In [30]:
print('My number is {} and my name is {}'.format(num, name))

My number is 12 and my name is sam

In [33]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num, two=name))

My number is 12 and my name is sam, more 12

In [34]:
s = 'hello'

In [35]:
s[0]

'h'

In [38]:
s[-1]

'o'

In [39]:
s[:2]

'he'

In [40]:
s[2:]

'llo'

### Lists

In [41]:
[1, 2, 3]

[1, 2, 3]

In [43]:
['a', 'b', 'c']

['a', 'b', 'c']

In [45]:
my_list = ['a', 'b', 'c']
my_list

['a', 'b', 'c']

In [47]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd', 'd']

In [48]:
my_list[2]

'c'

In [49]:
my_list[2:]

['c', 'd', 'd']

In [50]:
my_list[0] = 'New'
my_list

['New', 'b', 'c', 'd', 'd']

In [52]:
nest = [1, 2, [3, 4]]
nest[2]

[3, 4]

In [53]:
nest[2][0]

3

In [56]:
nest = [1,2,3,[4,5,['target']]]
nest[3][2][0]

'target'

### Dictionary

In [57]:
d = {'key1':'value','key2':244}
d['key1']

'value'

In [58]:
d['key2']

244

In [64]:
d = {'k1': [1,2,3]}
d

{'k1': [1, 2, 3]}

In [66]:
d['k1'][2]

3

In [65]:
my_list = d['k1']
my_list

([1, 2, 3], 3)

In [63]:
my_list[2]

3

In [67]:
d = {'k1':{'innerkey':[1,2,3]}}
d

{'k1': {'innerkey': [1, 2, 3]}}

In [68]:
d['k1']['innerkey']

[1, 2, 3]

### Boolean

In [69]:
True

True

In [70]:
False

False

### Tuples

In [71]:
t = (1,2,3)

In [72]:
t[0]

1

In [73]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [75]:
my_list[0] = 'New'
my_list

['New', 2, 3]

In [77]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

### Sets

In [79]:
s = {1,2,3,1,2}
s

{1, 2, 3}

In [80]:
set([1,2,1,2,3])

{1, 2, 3}

In [82]:
s.add(5)
s

{1, 2, 3, 5}

In [83]:
s.add(5)
s

{1, 2, 3, 5}

### Comparator

In [84]:
1 > 2

False

In [85]:
2 > 1

True

In [86]:
1 >= 2

False

In [87]:
1 <= 2

True

In [88]:
1 == 2

False

In [89]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-89-ecdac3dcabfd>, line 1)

In [90]:
1 != 3

True

In [92]:
(1 >2) and (2>3)

False

In [93]:
(1 > 2) or (2 < 3)

True

In [94]:
True and True

True

In [95]:
if (1<2):
    print('yep')

yep

In [97]:
if True:
    x = 2 + 2

In [98]:
x

4

In [99]:
if  1 == 1:
    print('first')
else:
    print('second')

first

In [101]:
if 1 != 1:
    print('first')
elif 2<1:
    print('second')
else:
    print('last')

last

### for loop

In [102]:
seq = [1,2,3,4,5]

In [103]:
for item in seq:
    print(item)

1
2
3
4
5

In [1]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [3]:
range(1,5)

range(1, 5)

In [4]:
for x in range(0,5):
    print(x)

0
1
2
3
4

### list comprehension

In [5]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [8]:
x = [1,2,3,4]

out =[]
for num in x:
    out.append(num**2)
out

[1, 4, 9, 16]

In [11]:
[num**2 for num in x] # list comprehension

[1, 4, 9, 16]

### Function

In [15]:
def my_fun(name):
    print('Hello '+name)

In [16]:
my_fun('sam')

Hello sam

In [17]:
def my_fun(name = 'Default Name'):
    print('Hello '+name)

In [18]:
my_fun()

Hello Default Name

In [22]:
def square(num):
    """ Return: Square of  number
    """
    return num**2

In [24]:
output = square(2)
output

4

### Lambda expression

In [26]:
def times2(var):
    return var*2

In [28]:
times2(2)

4

In [32]:
#map
seq = [1,2,3,4]
list(map(times2,seq))

[2, 4, 6, 8]

In [34]:
def times2(var): return var2

In [36]:
t = lambda var:var*2

In [37]:
t(6)

12

In [38]:
list(map(lambda var:var*2,seq))

[2, 4, 6, 8]

In [42]:
list(filter(lambda num: num %2, seq))

[1, 3]

In [43]:
s = 'hello  my name is sam'

In [44]:
s.lower()

'hello  my name is sam'

In [45]:
s.upper()

'HELLO  MY NAME IS SAM'

In [46]:
s.split()

['hello', 'my', 'name', 'is', 'sam']

In [47]:
tweet = 'Go sports! #sports'

In [51]:
tweet.split('#')[0]

'Go sports! '

In [52]:
d = {'k1':1,'k2':2,}

In [54]:
d.keys()

dict_keys(['k1', 'k2'])

In [55]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [56]:
d.values()

dict_values([1, 2])

In [57]:
lst = [1,2,3]

In [58]:
lst.pop()

3

In [59]:
lst

[1, 2]

In [60]:
lst = [1,2,3,4,5]
item = lst.pop()
item

5

In [61]:
lst

[1, 2, 3, 4]

In [62]:
lst.pop(0)

1

In [63]:
lst.append(1)
lst

[2, 3, 4, 1]

In [64]:
'x' in [1,2,3]

False

In [65]:
'x' in ['x','y','z']

True

In [66]:
x =[(1,2),(3,4),(5,6)]

In [67]:
x[0][1]

2

In [69]:
# tuple unpacking
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [70]:
# tuple unpacking
for (a,b) in x:
    print(a)

1
3
5

### Exercises

In [71]:
# power
7**4

2401

In [74]:
s = 'Hi there sam!'
s.split()

['Hi', 'there', 'sam!']

In [77]:
print('The planet {planet} diameter is {diameter}'.format(planet='earth',diameter=12742))

The planet earth diameter is 12742

In [80]:
def domainGet(mail):
    return mail.split('@')[1]
domainGet('user@domain.com')

'domain.com'

In [81]:
def is_dog(text):
    return 'dog' in text.lower().split()

In [84]:
is_dog('the house is protected by a dog')

True

In [101]:
def count_dog(text):
    count = 0
    for x in text.lower().split():
        if 'dog' == x:
            count +=1
    return count

In [102]:
count_dog('this dog dog ')

2

In [104]:
seq = ['soup','sauws','samosa','bun']
list(filter(lambda word : word[0] =='s',seq))

['soup', 'sauws', 'samosa']

In [99]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speed = speed+5
    if speed > 80:
        return 'Big ticket'
    elif speed > 60:
        return 'Small ticket'
    else:
        return 'No ticket'

In [100]:
caught_speeding(75,True)

'Small ticket'