In [1]:
2 **4

16

In [2]:
2**4

16

In [3]:
4 % 2

0

In [5]:
print('my number is {} is {}'.format(1,2))

my number is 1 is 2

In [2]:
s = 'hello'

In [3]:
s[3]

'l'

In [13]:
s[1:2]

'e'

In [14]:
nest = [1]

In [4]:
dict = {'k1' : [1,2,3]}

In [5]:
dict['k1'][2] #Key value pairs

3

In [21]:
True

True

In [22]:
False

False

In [23]:
True or False

True

In [25]:
{1, 2, 2, 3, 3} # Collection of unique elements

{1, 2, 3}

In [27]:
if True:
    print ('hello')

hello

In [33]:
if 1 == 2:
    print(1 + 2)
elif 1 == 1:
    print ('middle')
else:
    print(1 + 4)

middle

In [6]:
t = (1,2,3)

In [14]:
t + (4, 5)

(1, 2, 3, 4, 5)

In [15]:
t = t[:3]

In [16]:
t

(1, 2, 3)

In [22]:
t = t +(1,7)

In [28]:
t

(1, 2, 3, 1, 7)

In [44]:
num = [1, 3, 5]
for n in num:
    print('hello {}'.format(n) )

hello 1
hello 3
hello 5

In [46]:
print([n**2 for n in range(1,5)])

[1, 4, 9, 16]

In [50]:
print(list(map(lambda num:num*3, [1,2,3])))

[3, 6, 9]

In [51]:
num = 8
num % 2 == 0

True

In [54]:
tweet = "Go sports #sports"
tweet.split('#')[0]

'Go sports '