## Numbers

In [2]:
2+2

4

In [3]:
2-1

1

In [4]:
2*5

10

In [5]:
3/2

1.5

In [6]:
# Mod
9%4

1

In [7]:
23 % 5

3

In [8]:
2**3

8

In [9]:
2 + 10 * 10 + 3

105

### Variable name

In [10]:
a =5
a

5

In [11]:
a = [1, 23]
a

[1, 23]

In [12]:
a = 10

In [13]:
a = a+a
a

20

In [14]:
type(a)

int

## Strings

In [15]:
'hello',"Hello"

('hello', 'Hello')

In [16]:
'hello'[0]

'h'

In [17]:
print('Hello world one')

Hello world one

In [18]:
len('hello')

5

## String indexing and slicing

In [19]:
my_string = 'hello world'
my_string

'hello world'

In [20]:
my_string[0]

'h'

In [21]:
my_string[4:8]

'o wo'

In [22]:
my_string[-1]

'd'

In [23]:
my_string[-2]

'l'

In [24]:
my_string[::-1]

'dlrow olleh'

In [25]:
my_string[::2]

'hlowrd'

### String properties and method

In [26]:
# Immutablity
name = 'Sam'

In [28]:
name[0]= 'P'

TypeError: 'str' object does not support item assignment

In [71]:
'P'+ name[1:]

'Pam'

In [72]:
x = "hello world"
'It is ' + x

'It is hello world'

In [73]:
x = 'It is ' + x
x # concatination

'It is hello world'

In [74]:
'z'*10

'zzzzzzzzzz'

In [75]:
x = 'Hello world'

In [76]:
x.upper()

'HELLO WORLD'

In [77]:
x.split()

['Hello', 'world']

In [78]:
x = 'This is a string'
x.split()

['This', 'is', 'a', 'string']

In [79]:
x.split('i')

['Th', 's ', 's a str', 'ng']

## String formating
f-string

.format()

In [80]:
print('This is string {}'.format('INSERTED'))

This is string INSERTED

In [81]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [82]:
print('The {q} {b} {f}'.format(f = 'fox', b = 'brown', q = 'quick'))

The quick brown fox

In [83]:
result = 100/13434
result

0.007443799315170463

In [84]:
print('Result:{:10.3f}'.format(result))

Result:     0.007

In [85]:
name = "Jose"
print(f'Hello, His name is {name}')

Hello, His name is Jose

In [86]:
name = 'Sam'
age =3
print(f'{name} age is {age}')

Sam age is 3

## List

In [87]:
my_list = [1 ,2, 3, 4]
my_list

[1, 2, 3, 4]

In [88]:
my_list = ['String', 1, 2, 3, 4]
my_list

['String', 1, 2, 3, 4]

In [89]:
my_list[1]

1

In [90]:
my_list = ['one', 'two', 'three']
my_list + ['four']

['one', 'two', 'three', 'four']

In [91]:
my_list

['one', 'two', 'three']

In [92]:
my_list[0] = 'zero'
my_list

['zero', 'two', 'three']

In [93]:
my_list.append('four')
my_list

['zero', 'two', 'three', 'four']

In [94]:
my_list.append('five')
my_list

['zero', 'two', 'three', 'four', 'five']

In [95]:
my_list.pop()

'five'

In [96]:
my_list

['zero', 'two', 'three', 'four']

In [97]:
my_list.pop(0)
my_list

['two', 'three', 'four']

In [98]:
new_list = ['a', 'e', 'u', 'i','o']
new_list

['a', 'e', 'u', 'i', 'o']

In [99]:
new_list.sort()
new_list

['a', 'e', 'i', 'o', 'u']

In [100]:
None

In [101]:
new_list.reverse()
new_list

['u', 'o', 'i', 'e', 'a']

### Dictionary

In [102]:
my_dict = {'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [103]:
my_dict['key1']

'value1'

In [104]:
price_lookup = {'apple':2.99, 'orange': 1.99, 'banna':1.5}
price_lookup

{'apple': 2.99, 'orange': 1.99, 'banna': 1.5}

In [105]:
price_lookup['apple']

2.99

In [106]:
d = {'k1':123,'k2':[1,2,3], 'k3': [1,2, [1,2]]}
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': [1, 2, [1, 2]]}

In [107]:
d['k3'][2]

[1, 2]

In [108]:
d['k3'] = 1234
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': 1234}

In [109]:
d.items()

dict_items([('k1', 123), ('k2', [1, 2, 3]), ('k3', 1234)])

In [110]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [111]:
d.values()

dict_values([123, [1, 2, 3], 1234])

### tuple

In [1]:
t = (1 ,2 ,3)
t

(1, 2, 3)

In [113]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [2]:
my_list = [1, 2,3]
my_list

[1, 2, 3]

In [3]:
type(t), type(my_list)

(tuple, list)

In [4]:
t = ('one', 2)
t

('one', 2)

In [5]:
t = ('two', 2.5)
t

('two', 2.5)

In [6]:
t = ('a', 'a', 'b')
t.count('a')

2

In [7]:
t.index('a')

0

In [8]:
t

('a', 'a', 'b')

## Sets

In [2]:
s = {1,2,3,2,3,4,4}
s

{1, 2, 3, 4}

In [4]:
s.add(2)
s

{1, 2, 3, 4}

In [5]:
mylist = [1,2,3,1,2,3,4,5]
mylist

[1, 2, 3, 1, 2, 3, 4, 5]

In [6]:
set(mylist)

{1, 2, 3, 4, 5}

## Boolean

In [2]:
True, False

(True, False)

In [3]:
1 > 2

False

## File

In [4]:
%%writefile myfile.txt
Hello this is first line
this is second line
this is thrid line

Writing myfile.txt

In [10]:
myfile = open('myfile.txt')
myfile.read()

'Hello this is first line\nthis is second line\nthis is thrid line\n'

In [11]:
myfile.read()

''

In [15]:
myfile.seek(0)
myfile.read()

'Hello this is first line\nthis is second line\nthis is thrid line\n'

In [9]:
pwd

'/home/sudhir'

In [18]:
myfile.seek(0)
myfile.readlines()

['Hello this is first line\n', 'this is second line\n', 'this is thrid line\n']

In [ ]:
# open('/home/sudir/myfile.txt')

In [19]:
myfile.close()

In [20]:
with open('myfile.txt') as my_new_file:
    contains = my_new_file.read()

In [21]:
contains

'Hello this is first line\nthis is second line\nthis is thrid line\n'

In [22]:
with open('myfile.txt', mode='w') as myfile:
    contains = myfile.write()

TypeError: write() takes exactly one argument (0 given)

In [23]:
%%writefile my_new_file.txt
Hello this is first line
this is second line
this is thrid line

Writing my_new_file.txt

In [24]:
with open('my_new_file.txt') as f:
    print(f.read())

Hello this is first line
this is second line
this is thrid line

In [26]:
with open('my_new_file.txt',mode='a') as f:
    f.write('this is fourth line')

In [27]:
with open('my_new_file.txt') as f:
    print(f.read())

Hello this is first line
this is second line
this is thrid line
this is fourth line

In [28]:
with open('dfdf.txt', mode='w') as f:
    f.write('I write new file')

In [29]:
with open('dfdf.txt', mode='r') as f:
    print(f.read())

I write new file

###

## 3 Comparition operator

In [30]:
2 == 2

True

In [31]:
2== 1

False

In [32]:
2 != 3

True

In [33]:
'hello' == 'hello'

True

In [34]:
'Bye' == 'bye'

False

In [35]:
4 != 6

True

## Chain comparition

In [36]:
1 >2 | 3> 4

False

In [37]:
1 < 2 <3 < 4

True

In [39]:
'h' == 'h' and '1' == '1'

True

In [40]:
not(1 == 1)

False

In [41]:
not 1 == 1

False

In [42]:
400 > 5000

False

## Python statement

In [5]:
hungry = False
if 3 > 2:
    print('Feed me')
else:
    print('I am not hungry')

Feed me

In [7]:
loc = 'Bank'
if loc == 'Auto shop':
    print('car parking')
elif loc == 'Bank':
    print('SBI')

SBI

In [8]:
name = 'Sammy'
if name == 'Franky':
    print('Hello Franky')
elif name == 'Sammy':
    print('Hello sammy')
else: 
    print('What is your name')

Hello sammy

## For loop

In [17]:
mylist = [1,2,3,4,5]
for num in mylist:
    if num %2 ==0:
        print(num,'Even')
    else:# num %2 ==1:
        print(num,'Odd')

1 Odd
2 Even
3 Odd
4 Even
5 Odd

In [19]:
list_sum =0
for num in mylist:
    list_sum += num
list_sum

15

In [20]:
mystring = 'Hello world'
for letter in mystring:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [25]:
for _ in mystring:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [26]:
tup = (1,2,3)
for t in tup:
    print(t)

1
2
3

In [32]:
mylist = [(1,2), (3,4), (5,6), (7,8)]
print('lenght',len(mylist))
for a,b in mylist:
    print(a)
    print(b)

lenght 4
1
2
3
4
5
6
7
8

In [34]:
mylist = [(1,2,3), (4,5,6),(2,4,6)]
for a,b,c in mylist:
    print(a,b,c)

1 2 3
4 5 6
2 4 6

In [37]:
d = {'k1':1, 'k2':2, 'k3':3, 'k4':4}
for item in d:
    print(item)

k1
k2
k3
k4

In [38]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)
('k4', 4)

## While loop

In [43]:
x = 10
while x <5:
    print(f'The value of x is {x}')
    x = x+1
else:
    print('X is not less than 5')

X is not less than 5

In [44]:
x = [1,2,3]
for item in x:
    pass

In [45]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [46]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [50]:
x = 0

while x<5:
    print(x)
    x = x+1
    if x == 2:
        break

0
1

## Usefull operator

In [55]:
for item in range(5):
    print(item)

0
1
2
3
4

In [56]:
for item in range(0,5,2):
    print(item)

0
2
4

In [57]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [58]:
index_count =0

for letter in 'abcdef':
    print(f'At index {index_count} letter is {letter}')
    index_count = +1

At index 0 letter is a
At index 1 letter is b
At index 1 letter is c
At index 1 letter is d
At index 1 letter is e
At index 1 letter is f

In [59]:
for index_count,letter in enumerate('abcdef'):
    print(f'At index {index_count} letter is {letter}')

At index 0 letter is a
At index 1 letter is b
At index 2 letter is c
At index 3 letter is d
At index 4 letter is e
At index 5 letter is f

In [63]:
mylist1 = range(2)
mylist2 = ['a','b','c','d','e']
for item in zip(mylist1, mylist2):
    print(item)

(0, 'a')
(1, 'b')

In [65]:
1 in [1,2,3]

True

In [66]:
'a' in 'a world'

True

In [68]:
num = input('Enter a number here')
num

Enter a number here 4

'4'

## List compresion

In [69]:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [70]:
[w for w in mystring]

['h', 'e', 'l', 'l', 'o']

In [71]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]

In [74]:
[(9/5 *temp +32) for temp in range(0,100,10)]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0, 176.0, 194.0]

In [75]:
[x if x%2 == 0 else 'Odd' for x in range(10) ]

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

## Method

In [2]:
mylist = [1,2,3]
mylist

[1, 2, 3]

In [4]:
mylist.append(4)
mylist

[1, 2, 3, 4, 4]

In [5]:
mylist.insert

## Function

In [8]:
def name_function():
    """ 
    Doc string: Information about the function
    Input: no input
    Output: Hello
    """
    print('Name')

In [7]:
name_function()

Name

In [9]:
def say_hello(name):
    """
    Name
    """
    print('Hello ',name)

In [11]:
result = say_hello('Sam')

Hello  Sam

In [13]:
type(result)

NoneType

In [14]:
def add(n1,n2):
    return n1+n2

In [15]:
result = add(10,20)
result

30

In [16]:
def dog_string(mystring):
    if 'dog' in mystring:
        return True
    else:
        return False

In [17]:
dog_string('Here is a dog')

True

In [21]:
def pig_latin(word):
    
    first_letter = word[0]
    # Check if vowel
    if first_letter in 'aeiou':
        return word+'ay'
    else:
        return word[1:]+word[0]+'ay'

In [23]:
pig_latin('apple')

'appleay'

## '*args' and '**kargs'

In [28]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b)) *0.05

In [30]:
myfunc(100,30)

6.5

In [32]:
def myfunc(*args):
    return sum(args) *0.05

In [34]:
myfunc(40,50,70, 80, 30)

13.5

In [35]:
def myfunc(*args):
    for item in args:
        print(item)

In [36]:
myfunc(10,30,40)

10
30
40

In [39]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [41]:
myfunc(fruit='apple',veggi='Veg')

My fruit choice is apple

In [42]:
def myfunc(*args,**kwargs):
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [44]:
myfunc(10,20,30,fruit='apple',animals='dog', food='spice')

I would like 10 spice

## map filter, lambda

In [45]:
def square(num):
    return num**2

In [46]:
square(4)

16

In [49]:
mynums = [1,2,3,4]
list(map(square,mynums))

[1, 4, 9, 16]

In [51]:
def slicer(mystring):
    if len(mystring) %2 ==0:
        return 'Even'
    else:
        return mystring[0]

In [52]:
list(map(slicer,['Andy','Fork','Mark']))

['Even', 'Even', 'Even']

In [53]:
def check_even(num):
    return num %2 == 0

In [54]:
mynums = [1,2,3,4,5]
list(filter(check_even,mynums))

[2, 4]

In [56]:
def square(num):
    return num **2
square(2)

4

In [58]:
sqaure = lambda x: x*2
square(3)

9

In [60]:
mynums = [1,2,3,4,5]
list(map( lambda x:x**2, mynums))

[1, 4, 9, 16, 25]

In [67]:
list(filter(lambda x: x%2 ==0, mynums))

[2, 4]

In [68]:
names = ['Andy', 'God', 'Son']
list(map(lambda x:x[::-1], names))

['ydnA', 'doG', 'noS']

### Nested

In [69]:
x = 25

def printer():
    x =50
    print(x)

In [72]:
printer()

50

In [73]:
print(x)

25

In [84]:
# Global
name = 'This is global function'
def func():
    # Enclosing
    name = 'Don'
    def hello():
        # local 
        name = 'I am local'
        print('Hello',name)
    hello()

In [85]:
func()

Hello I am local

In [91]:
x = 50

def func():
    global x
    
    print(f'X is {x}')
    x = 'New value'
    print(f' I just localy changed globar x to {x}')

func()
x

X is 50
 I just localy changed globar x to New value

'New value'

## OOBs

In [98]:
mylist = [1,2,3]
mylist.append(4)
type(mylist)

list

In [99]:
class sample():
    pass

In [96]:
my_sample =sample()

In [97]:
type(my_sample)

__main__.sample

In [112]:
class Dog():
    def __init__(self,breed,):
        
        # Attributes
        self.breed = breed

In [110]:
my_dog = Dog(breed='German')
type(my_dog)

__main__.Dog

In [111]:
my_dog.breed

'German'

In [190]:
class Dog():
    def __init__(self,mybreed,):
        
        # Attributes
        self.breed = mybreed

In [114]:
my_dog = Dog(mybreed='Lab')
type(my_dog)

__main__.Dog

In [115]:
my_dog.breed

'Lab'

In [117]:
class Dog():
    def __init__(self,breed,name, spots):
        
        # Attributes
        self.breed = breed
        self.name = name
        self.spots = spots

In [118]:
my_dog = Dog(breed= 'Lab', name= 'Sammy', spots= True)

In [119]:
my_dog.name

'Sammy'

In [184]:
class Dog():
    
    # Class object attribute
    # same for ant 
    species = 'mammal'
    def __init__(self,breed,name, spots):
        
        # Attributes
        self.breed = breed
        self.name = name
        self.spots = spots
        
    # Operation/ action method
    # Method is inside of class
    def bark(self, number):
        print(f'Woof! My name is {self.name} and number is {number}')

In [151]:
my_dog = Dog(breed= 'Lab', name= 'Sammy', spots= True)

In [152]:
my_dog.name, my_dog.species,my_dog.breed

('Sammy', 'mammal', 'Lab')

In [153]:
my_dog.bark

In [154]:
my_dog.bark(number =10)

Woof! My name is Sammy and number is 10

In [169]:
class circle():
    # Class object attribute
    pi = 22/7
    
    def __init__(self,radius =1):
        self.radius = radius
        self.area = self.radius* self.radius * self.pi
    
    # Method
    def get_circumference(self):
        return 2 * self.pi * self.radius

In [170]:
my_circle = circle(radius=10)
my_circle

In [171]:
my_circle.pi, my_circle.radius

(3.142857142857143, 10)

In [172]:
my_circle.get_circumference()

62.857142857142854

In [173]:
my_circle.area

314.2857142857143

In [195]:
class Animal():
    
    def __init__(self):
        print('Animal created')
        
    def who_i_am(self):
        print('I am an animal')
        
    def eat(self):
        print('I am eating')

In [192]:
myanimal = Animal()

Animal created

In [197]:
class Dog(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print('Dog created')
    def who_am_i(self):
        print('I am a dog')

In [198]:
mydog = Dog()

Animal created
Dog created

In [199]:
mydog.eat()

I am eating

In [214]:
# Polymorphism
class Dog():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + ' say woof!'

In [213]:
class Cat():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + ' say meow!'

In [215]:
niko =Dog('Niko')
felix = Cat('felix')

In [216]:
print(niko.speak())

Niko say woof!

In [217]:
print(felix.speak())

felix say meow!

In [218]:
for pet_class in [niko, felix]:
    print(type(pet_class))
    print(pet_class.speak())

<class '__main__.Dog'>
Niko say woof!
<class '__main__.Cat'>
felix say meow!

In [220]:
def pet_speak(pet):
    print(pet.speak())

In [221]:
pet_speak(niko)

Niko say woof!

In [222]:
pet_speak(felix)

felix say meow!

In [224]:
class Animal():
    
    def __init__(self,name):
        self.name =name
    
    def speak(self):
        raise NotImplementedError('Sub class must implement this abstract method')

In [228]:
myanimal = Animal('fred')
myanimal.speak()

NotImplementedError: Sub class must implement this abstract method

In [231]:
class Dog(Animal):
    
    def speak(self):
        return self.name + ' say woof'

class Cat(Animal):
    def speak(self):
        return self.name + ' say meow'

In [232]:
fido = Dog('Fido')
isis = Cat('Isis')

In [233]:
fido.speak()

'Fido say woof'

## Special method

In [234]:
mylist = [1,2,3]
mylist

[1, 2, 3]

In [235]:
class sample():
    pass

In [236]:
sample()

In [245]:
class Book():
    
    def __init__(self,author, pages,title):
        self.author = author
        self.pages = pages
        self.title = title
    def __str__(self):
        return f'{self.title} by {self.author}'
    
    def __len(self):
        return self.page
    
    def __del__(self):
        print('Book object has been deleted')

In [246]:
b = Book('Sk', 100, 'Good book')
print(b)

Good book by Sk

In [249]:
del b

Book object has been deleted

## Module and packages

In [250]:
def add(n1,n2):
    return sum((n1,n2))

In [251]:
add(10,30)

40

In [252]:
number1= 10
number2 = input('Please provide a number')

Please provide a number 20

In [254]:
add(number1, number2)
print('some thing happend!')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [260]:
try:
    # want to attempt this code
    result = 10 + 10
    
except:
    print('Hey it look your are not adding')
else:
    print('Adding')
    print(result)

Adding
20

In [261]:
result

20

In [268]:
try:
    f = open('testfile','w')
    f.write('Write a test line')
except TypeError:
    print('Ther was a type error')
except OSError:
    print('Hey you have in Os error')
finally:
    print('I always run')

I always run

In [1]:
def ask_for_int():
    while True:
        try:
            result = int(input('Please provide number:'))
        except:
            print('that is not a number')
            continue
        else:
            print('Yes thank you')
            break
        finally:
            print('end of try/except/finally')

In [3]:
ask_for_int()

Please provide number: 'd

that is not a number
end of try/except/finally

Please provide number: 13

Yes thank you
end of try/except/finally

In [4]:
### pylint

## Python decorator

In [1]:
def func():
    return 1

In [2]:
func()

1

In [9]:
def hello():
    return 'Hello'

In [10]:
hello()

'Hello'

In [11]:
greet = hello
greet()

'Hello'

In [12]:
del hello
hello()

NameError: name 'hello' is not defined

In [13]:
greet()

'Hello'

In [29]:
def hello(name='Jose'):
    print('The hello() function has been exicuted')
    def greet():
        return '\t This is greet() funtion inside hello()'
    def welcome():
        return '\t This is welcome() funtion inside hello()'
    
    print(greet())
    print(welcome())
    print('This is end of hello()')

In [30]:
hello()

The hello() function has been exicuted
	 This is greet() funtion inside hello()
	 This is welcome() funtion inside hello()
This is end of hello()

In [36]:
def hello(name='Jose'):
    print('The hello() function has been exicuted')
    def greet():
        return '\t This is greet() funtion inside hello()'
    def welcome():
        return '\t This is welcome() funtion inside hello()'
    
    print('I"am going to return a function')
    if name == 'Jose':
        return greet
    else:
        return welcome

In [42]:
a = hello(name='Jose')
a()

The hello() function has been exicuted
I"am going to return a function

'\t This is greet() funtion inside hello()'

In [43]:
def cool():
    
    def supercool():
        return 'I am very cool'
    return supercool

In [46]:
some_func = cool()
some_func()

'I am very cool'

In [47]:
### Decorator
def hello():
    return 'Hi Jose'

def other(some_fun_name):
    print('Other code run here')
    print(some_fun_name())

In [49]:
other(hello)

Other code run here
Hi Jose

In [54]:
def new_decorator(original_func):
    
    def wrap_func():
        print('Some extra code, before original function')
        
        original_func()
        print('Some extra code, after the original function')
    return wrap_func

def func_needs_decorator():
    print('I want to be decorated!')

In [53]:
func_needs_decorator()

I want to be decorated!

In [55]:
decorated_func = new_decorator(func_needs_decorator)
decorated_func()

Some extra code, before original function
I want to be decorated!
Some extra code, after the original function

In [60]:
@new_decorator # use #
def func_needs_decorator():
    print('I want to be decorated!')

In [59]:
func_needs_decorator()

I want to be decorated!

## Python Generator

In [63]:
# It is generator
range(0,10)

range(0, 10)

In [64]:
def create_cubes(n):
    result =[]
    for x in range(n):
        result.append(x**3)
    return result

In [66]:
create_cubes(10)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [74]:
def create_cubes(n):
    result =[]
    for x in range(n):
        yield x**3

In [77]:
list(create_cubes(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [76]:
for x in create_cubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [79]:
def gen_fibon(n):
    
    a = 0
    b = 1
    for i in range(n):
        yield a
        a,b = b, a+b

In [82]:
# yield keyword will memory efficient
gen_fibon(10)

In [81]:

list(gen_fibon(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [89]:
def simple_gen():
    for x in range(3):
        yield x

In [90]:
for num in simple_gen():
    print(num)

0
1
2

In [91]:
g = simple_gen()
print(next(g))

0

In [92]:
print(next(g))
print(next(g))

1
2

In [93]:
print(next(g))

StopIteration:

In [95]:
# iter
s = 'hello'
for letter in s:
    print(letter)

h
e
l
l
o

In [96]:
next(s)

TypeError: 'str' object is not an iterator

In [102]:
s_iter = iter(s)
next(s_iter)

'h'

In [103]:
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

e
l
l